{% extends "base.html" %}
    {% block content %}
    {% load crashreport_stats_tags %}
    <h1> Device Information</h1>
    <h3>UUID: {{ uuid }}</h3> 
    <div class="row">
      <div class="col-md-6">
          {% device_overview uuid=uuid %}
      </div>
      <div class="col-md-6">
          {% device_update_history uuid=uuid %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          {% device_report_history uuid=uuid %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          {% device_crashreport_table uuid=uuid %}
      </div>
    </div>
 {% endblock content %}
